<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel = "stylesheet"type = "text/css"href = "site.css" />
        <title>DojoDachi</title>
    </head>
    <body>
        <main>
            <header>
                <label for="Happy">Happiness:</label>
                <span ="Happy">@ViewBag.dachi.happiness</span>
                <label for="Full">Fullness:</label>
                <span ="Full">@ViewBag.dachi.fullness</span>
                <label for="Energy">Energy:</label>
                <span ="Energy">@ViewBag.dachi.energy</span>
                <label for="Meals">Meals:</label>
                <span ="Meals">@ViewBag.dachi.meals</span>
            </header>
            <section>
                @if(ViewBag.dachi.status == "Your dachi... Died")
                {
                    <p>Your poor, poor Dachi...</p>
                    <a href="reset">Play Again?</a>
                }
                else if(ViewBag.dachi.happiness > 100 && ViewBag.dachi.fullness > 100 && ViewBag.dachi.energy > 100)
                {
                    <p>Your Dachi went HAM!</p>
                    <a href="reset">Continue your streak?</a>
                }
                else
                {
                    <span>@ViewBag.dachi.status</span>
                }
            </section>
            <ul>
                @if(ViewBag.dachi.fullness < 0 || ViewBag.dachi.happiness < 0 || (ViewBag.dachi.happiness > 100 && ViewBag.dachi.fullness > 100 && ViewBag.dachi.energy > 100)){
                    <li>
                        <a href="reset">Reset</a>
                    </li>
                }
                else
                {
                    @if(ViewBag.dachi.energy >= 5){
                        <li>
                            <form action="process" method="post">
                                <input type="hidden" name="Activity" value="Work">
                                <input type="submit" value="Work">
                            </form>
                        </li>
                        <li>
                            <form action="process" method="post">
                                <input type="hidden" name="Activity" value="Play">
                                <input type="submit" value="Play">
                            </form>
                        </li>
                    }
                    <li>
                        <form action="process" method="post">
                            <input type="hidden" name="Activity" value="Sleep">
                            <input type="submit" value="Sleep">
                        </form>
                    </li>
                    @if(ViewBag.dachi.meals > 0){
                        <li>
                            <form action="process" method="post">
                                <input type="hidden" name="Activity" value="Feed">
                                <input type="submit" value="Feed">
                            </form>
                        </li>
            </ul>
        </main>
                    }
                }
    </body>
</html>